#banner{
    overflow: hidden;
}

#banner figure{
    position: relative;
    width: 400%;
    margin:0;
    left: 0;
    animation: 20s slider infinite;
}

#banner figure img{
    width: 25%;
    float: left;
}

@keyframes slider {
    0%{
        left:0%;
    }
    25%{
        left:-100%;
    }
    50%{
        left:-200%;
    }
    100%{
        left:-300%;
    }
}